<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agent Panel</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/agent_panel.css">
    <link rel="stylesheet" href="/static/css/header.css">
</head>
<body>
    <div class="nav_bar">
        <div class="comp_name">
            <button class="company_name" id="theme-switch">
                Bus Karro
            </button>
        </div>
        <div class="nav_buttons" style="justify-content: end;">
            <button class="side_btn profile"><i class="fa-solid fa-user"></i> Profile</button>
        </div>
    </div>
    
    <div class="earning">
        <!-- <img src="" alt=""> -->
    </div>
    <div class="schedule_bus">
        <p class="bus_no">Bus No.</p>
        <input type="number" class="buss_no_srch" placeholder="Bus Number">
        <p class="bus_no">Assign Driver ID</p>
        <input type="number" class="buss_no_srch" placeholder="Assign driver ID">
    </div>
    <div class="scheduled">
        <h1 class="heading_txt">Scheduled</h1>
        <div class="table">
            Bus No.
        </div>
        <div class="table">
            Driver
        </div>
        <div class="table">
            Date
        </div>
    </div>
    <div class="search_driver">

    </div>

</body>
<script src="/static/JS/darkmode.js"></script>
</html>